extends ../layout/index

block contenido
    .py-10 
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            sapn.font-normal Raíces
        h2.text-center.text-2xl.font-extrabold=pagina

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div 
                        label.block.text-sm.uppercase.text-gray-400.mb-2.font-bold(for="nombre") Tu nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-lg.placeholder-gray-400(placeholder="Nombre" type="text" name="nombre")
                    div 
                        label.block.text-sm.uppercase.text-gray-400.mb-2.font-bold(for="email") Tu Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-lg.placeholder-gray-400(placeholder="Email" type="email" name="email")
                    div 
                        label.block.text-sm.uppercase.text-gray-400.mb-2.font-bold(for="password") Tu Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-lg.placeholder-gray-400(placeholder="Password" type="password" name="password")
                    div 
                        label.block.text-sm.uppercase.text-gray-400.mb-2.font-bold(for="repetir_password") Repetir tu nombre
                        input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-lg.placeholder-gray-400(placeholder="Repite tu password" type="password" name="repetir_password")
                        
                    